* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: inherit;
    background-color: #212529;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    padding: 1em;
    
}

main {
    color: inherit;
    background-color: #111111;
    height: 100%;
    width: 100%;
    padding: 1.5em 1.5em 1.5em 1em;
    margin: none;
    border-radius: 10px;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}


svg {
    width: 40px;
    fill: red;
    background: none;
}