@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Noto Sans';
    color: white;
}

body {
    background-color: #212529;
    height: 100vh;
    width: 100vw;
    max-height: 100vh;
    max-width: 100vw;
    padding: 1em;
    
}

main {
    background-color: #111111;
    height: 100%;
    width: 100%;
    padding: 1.5em 1.5em 1.5em 1em;
    border-radius: 10px;
    
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1em;
}

/* ======================================================== */

/* Styles For: Sidebar */

#sidebar {
    width: 260px;
    text-wrap: nowrap;
    overflow: hidden;
    transition: all 700ms;
}

#sidebar.close {
    padding: 4px;
    width: 50px;

    a {
        border-radius: 5px;
    }

    #toggle-button {
        animation: toggle-button-animation 2s forwards;
    }
}

@keyframes toggle-button-animation {
    0% {
        opacity: 0;
    }

    70% {
        transform: none;
        opacity: 0;
    }

    80% {
        top: 4em;
        left: 8em;
        opacity: 1;
        transform: scale(1.5);
    }

    100% {
        position: absolute;
        top: 4em;
        left: 8em;
        opacity: 1;  
        transform: rotate(180deg);

    }
}

nav ul li:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    margin-bottom: 3em;
}

#logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.7em;
    font-size: 1.5em;
    font-weight: bold;
}

#logo svg {
    box-sizing: content-box;
    width: 30px;
    fill: #000000;
    padding: 5px;
    background-color: #fefefe;
    border-radius: 5px;
}

#toggle-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.1em;
    border-radius: 0.2em;

    display: flex;
    align-items: center;

    transition: all 200ms;
}

#toggle-button svg {
    fill: #cfcfcf;
}

#toggle-button:hover {
    background-color: #363636;
}

#toggle-button svg:hover {
    fill: #ffffff;
}

nav ul li svg {
    width: 25px;
    flex-shrink: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: #cfcfcf;
    text-decoration: none;
    padding: 0.5em 0.5em;
    display: flex;
    align-items: center;
    gap: 1.5em;
    border-radius: 0.5em;
    margin-bottom: 0.85em;

    transition: all 200ms;
}

nav ul li a:hover {
    background-color: #363636;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

nav ul li {
    #nav-home svg {
        fill: lightskyblue;
    }
    #nav-explore svg {
        fill: lightgreen;
    }
    #nav-profile svg {
        fill: lightsalmon;
    }
    #nav-settings svg {
        fill: #f07df0;
    }

    #nav-home:hover {
        color: lightskyblue;
    }
    #nav-explore:hover {
        color: lightgreen;
    }
    #nav-profile:hover {
        color: lightsalmon;
    }
    #nav-settings:hover {
        color: #f07df0;
    }
}

nav ul li.active {
    #nav-home {
        color: white;
        background: linear-gradient(90deg, #2A2D3A, #1F222E);
    }
    #nav-explore {
        color: white;
        background: linear-gradient(90deg, #2a3a33, #1f2e27);
    }
    #nav-profile {
        color: white;
        background: linear-gradient(90deg, #3a372a, #2e2b1f);
    }
    #nav-settings {
        color: white;
        background: linear-gradient(90deg, #352a3a, #2a1f2e);
    }
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

/* ======================================================== */

#chatbox {
    font-family: inherit;
    color: inherit;
    background-color: #212121;
    height: 100%;
    width: 100%;
    padding: 1em;
    border-radius: 10px;
}